:root {
    --font: "Inter", sans-serif;
    --primary: #121212;
    --accent: #121212;
    --secondary: #ccc;


    color-scheme: dark light;
}

.light{
    --primary: #ccc;
    --accent: #ccc;
    --secondary: #121212;
    color-scheme: light dark;
}

h1{
    color: var(--accent);
    font-size: 1.618rem;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--primary);

    transition: background-color 1s;
}

main{
    padding: 0;
    margin: 0;
    background-color: var(--secondary);
    font-family: var(--font);

    transition: background-color 1s;
}

#themeButton{
    @starting-style{
        opacity: 0;
    }

    width: 48px;
    height: 48px;
    border-radius: .5rem;
    background-color: var(--primary);
    border: 0px solid transparent;
    background-position: center;
    background-size: cover;
}

.sun{
    background-color: var(--secondary);
    background-image: url('../public/svgs/sun.svg');
}

.moon{
    background-image: url('../public/svgs/moon.svg');
}

nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    padding-inline: 1rem;
}


.flexCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}