:root {
    --font1: "Inter", sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: "Ovo", serif;

    --primary: #020202;
    --secondary: #EEEEEE;
    --accent: #C5E50C;
    --unfocused: #050505;
    --focused: #252525;

    color-scheme: dark light;

    overflow-y: scroll;
    scrollbar-width: none;
}

a{
    text-decoration: none;
    color: var(--secondary);
}

.light{
    --primary: #eee;
    --secondary: #121212;
    --focused: #202020;
    --unfocused: #181818;
    color-scheme: light dark;
}

html{
    font-style: var(--font2);
}

h1{

}
h2{

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    position: sticky;
    top: 0;

    height: 48px;

    & a{
        height: fit-content;
    }
}

body{
    background: 
    radial-gradient(ellipse at center, rgba(5,5,5, .5), var(--primary) );
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: var(--secondary);

    padding: 0;
    margin: 0;
}

main{

}

canvas{
    height: 100vh;
}

footer{
    
}

/* 
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
*/

#showcaseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    gap: 16px;

    & #projectsSelector{
        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0;
        margin: 0;

        & li{
            text-decoration: none;
        }
    }

    & #projectsDisplay{
        gap: 8px;
        overflow-x: hidden;
        overflow-y: hidden;
        scrollbar-width: none;

        scroll-behavior: smooth;

        & #active{
            filter: opacity(1);
            color: var(--secondary)
        }

        & .projectCard{
            aspect-ratio: 16/9;
            min-width: 90%;
            max-height: 768px;
            background-color: var(--unfocused);
            border-radius: 8px;
            padding: 8px;
            color: var(--unfocused);

            filter: opacity(.5);

            transition: filter .5s, color .5s ease-in-out;
        }
    }

    & #projectScroller{
        width: fit-content;
        margin-inline: auto;
        
        & button{
            margin-inline: 8px;
            border: none;
            border-radius: 50%;
            padding: 0;

            width: 48px;
            height: 48px;

            background-color: var(--unfocused);

            transition: background-color .25s ease-in-out;

            &:hover{
                background-color: var(--focused);

                & #scrollSvg{
                    fill:var(--accent)
                }
            }

            & #scrollSvg{
                fill: var(--secondary);
            }
        }
    }
}



/* 
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
*/

.flex_row{
    display: flex;
    flex-direction: row;
}

/* 
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
*/

@media only screen and (min-width: 540px){

}

@media only screen and (max-width: 370px){

}

@media only screen and (min-width: 810px){

}

@media only screen and (min-height: 810px) and (min-width: 540px) {

}
