:root {
    --font1: "Inter", sans-serif;
    --font2: "Poppins", sans-serif;
    --font3: "Ovo", serif;

    --fsize_small: 6px;
    --fsize_medium: 12px;
    --fsize_big: 24px;
    --fsize_huge: 32px;
    --fsize_chungus: 48px;
    --fsize_gigachungus: 64px;

    --primary: #020202;
    --secondary: #EEEEEE;
    --accent: #C5E50C;
    --unfocused: #050505;
    --focused: #252525;

    color-scheme: dark light;

    overflow-y: scroll;
    scrollbar-width: none;

    font-family: var(--font2);

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--secondary);

    cursor: pointer;
}

.light {
    --primary: #eee;
    --secondary: #121212;
    --focused: #202020;
    --unfocused: #181818;
    color-scheme: light dark;
}

h1 {}

h2 {}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    height: 24px;

    z-index: 100;

    padding: 16px;


    & a {
        height: fit-content;
        font-size: var(--fsize_medium);
    }

    & button{
        background-color: transparent;
        font-family: var(--font2);
        border: none;

        cursor: pointer;;
    }
}

body {
    background:
        radial-gradient(ellipse at center, rgba(5, 5, 5, .5), var(--primary));
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: var(--secondary);

    padding: 0;
    margin: 0;
}

main {}

canvas {
    height: 100vh;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    font-size: var(--fsize_medium);

    & svg {
        fill: var(--accent);
        height: var(--fsize_medium);
    }

}

/* 
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
*/

#loadAnimation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & p{
        font-family: var(--font3);
        color: var(--secondary);
    }
    
}

#showcaseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    gap: 16px;

    & #projectsSelector {
        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0;
        margin-inline: 16px;

        & li {
            text-decoration: none;

            font-size: var(--fsize_medium);
        }
    }

    & #projectsDisplay {
        gap: 8px;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;

        padding: 8px;

        scroll-behavior: smooth;

        & .projectCard {
            aspect-ratio: 16/9;
            min-width: 95%;
            max-height: 768px;
            background-color: var(--unfocused);
            color: var(--secondary);
            border-radius: 16px;
            padding: 8px;

            & h1 {
                font-size: var(--fsize_chungus);
                margin: 0;
            }

            & p {
                font-size: var(--fsize_medium);
            }
        }
    }

}


#contact {
    min-height: fit-content;
    /* height: 100vh; */

    display: flex;
    flex-direction: column;

    & #contact_cta {
        height: 50%;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 8px;
        margin-block: 10% 0;

        & span {
            font-family: var(--font3);
            font-size: var(--fsize_gigachungus);
            font-weight: 1000;
        }

    }

    & form {
        height: 50%;
        margin-block: 10%;

        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        & label {
            display: block;
            margin-bottom: 8px;

            font-size: var(--fsize_medium);
        }

        & textarea {
            line-height: 2ch;

        }

        & input,
        & textarea {
            background-color: transparent;

            inline-size: 100%;
            max-width: 100%;
            border: 1px solid var(--secondary);
            border-radius: 16px;
            padding: 16px;

            box-sizing: border-box;

            transition: background-color .25s ease-in-out;

            font-family: var(--font1);
            font-size: 16px;
            font-weight: 600;

            &:focus {
                background-color: var(--focused);
                border: 0px solid transparent;
                outline: 1px solid var(--accent);
            }

        }

        & .form_group {}

        & #buttonContainer {
            width: 50%;

            display: flex;
            flex-direction: row;
            justify-content: end;

            & button[type="submit"] {
                height: min-content;

                font-family: var(--font2);
                font-size: var(--fsize_medium);
                font-weight: 500;
                color: var(--primary);

                padding: 16px;
                border: 0px solid transparent;
                border-radius: 16px;
                background-color: var(--accent);

                &:focus{
                    outline: 4px solid var(--secondary);
                }
            }
        }


        & #form_socials {
            margin: 0;
            width: 50%;
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            gap: 8px;

            & svg {
                display: block;
                margin-inline: auto;
                height: var(--fsize_big);
                aspect-ratio: 1/1;
                fill: var(--accent);
            }

            & li {
                font-size: var(--fsize_medium);

                & text {
                    margin-top: auto;
                }
            }
        }
    }

}


/* 
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
*/

.just_between {
    justify-content: space-between;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.goBackUp {
    display: block;
    margin-inline: auto;
    border: none;
    background-color: transparent;

    & svg {
        height: fit-content;
        width: 32px;
        fill: var(--accent);
    }
}

/* 
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
*/

@media only screen and (max-width: 370px) {


}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 540px) {

}

@media only screen and (min-width: 720px) {

    & #contact{

        & #contact_cta{
            flex-direction: row;
            gap: 16px;
            margin: 10% 0 0 0;
        }
    }


    & #showcaseContainer{

        & #projectsDisplay{
            gap: 12px;

            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and (min-width: 810px) {

    #contact {
        flex-direction: row;

        & form{
            height: 100%;
            width: 50%;
            max-width: 720px;
            margin: auto;
        }

        & #contact_cta {
            height: 100%;
            width: 50%;

            gap: 8px;
            flex-direction: column;
            align-items: end;

            margin-block: 10%;

            & span {
                font-size: var(--fsize_gigachungus);
            }
        }
    }


}

@media only screen and (min-width: 1280px){

    & #showcaseContainer{

        & #projectsDisplay{
            gap: 16px;

            grid-template-columns: 1fr 1fr 1fr;
        }
    }

}