:root {
    --font1: "Inter", sans-serif;
    --font2: "Poppins", sans-serif;
    --font3: "Ovo", serif;

    --fsize_small: 6px;
    --fsize_medium: 12px;
    --fsize_big: 24px;
    --fsize_huge: 32px;
    --fsize_chungus: 48px;

    --primary: #020202;
    --secondary: #EEEEEE;
    --accent: #C5E50C;
    --unfocused: #050505;
    --focused: #252525;

    color-scheme: dark light;

    overflow-y: scroll;
    scrollbar-width: none;

    font-family: var(--font2);

    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--secondary);

    cursor: pointer;
}

.light {
    --primary: #eee;
    --secondary: #121212;
    --focused: #202020;
    --unfocused: #181818;
    color-scheme: light dark;
}

h1 {}

h2 {}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;

    height: 24px;

    z-index: 100;

    padding: 16px;


    & a {
        height: fit-content;
        font-size: var(--fsize_medium);
    }
}

body {
    background:
        radial-gradient(ellipse at center, rgba(5, 5, 5, .5), var(--primary));
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: center;

    color: var(--secondary);

    padding: 0;
    margin: 0;
}

main {}

canvas {
    height: 100vh;
}

footer {}

/* 
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
    ID - ID - ID - ID - ID - ID - ID
*/

#showcaseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    gap: 16px;

    & #projectsSelector {
        list-style: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0;
        margin-inline: 16px;

        & li {
            text-decoration: none;

            font-size: var(--fsize_medium);
        }
    }

    & #projectsDisplay {
        gap: 8px;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;

        display: flex;
        flex-direction: column;

        padding: 8px;

        scroll-behavior: smooth;

        & #active {
            background-color: var(--focused);
        }

        & .projectCard {
            aspect-ratio: 16/9;
            min-width: 95%;
            max-height: 768px;
            background-color: var(--unfocused);
            border-radius: 16px;
            padding: 8px;
            color: var(--secondary);

            transition: filter .5s, color .5s ease-in-out;

            & h1 {
                font-size: var(--fsize_chungus);
                margin: 0;
            }

            & p {
                font-size: var(--fsize_medium);
            }
        }
    }

}


#contact {
    min-height: 100vh;
    height: 100vh;

    display: flex;
    flex-direction: column;

    & #contact_cta {
        height: 50%;

        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 8px;

        & span {
            font-size: var(--fsize_huge);
            font-weight: 1000;
        }

    }

    & #formContainer {
        height: 50%;

        & form {
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            & label{
                display: block;
                margin-bottom: 8px;
            }

            & input, & textarea{
                background-color: var(--unfocused);

                width: 100%;
                border: 0px solid transparent;
                border-radius: 16px;
                padding: 16px;

                box-sizing: border-box;

                outline: none;

                transition: background-color .1s ease-in-out;

                &:focus{
                    background-color: var(--focused);
                }
               
            }

            & .form_group {
            }

            & #buttonContainer {
                width: 50%;

                display: flex;
                flex-direction: row;
                justify-content: end;

                & button {
                    font-family: var(--font2);
                    font-size: var(--fsize_medium);
                    font-weight: 500;
                    color: var(--primary);

                    padding: 16px;
                    border: 0px solid transparent;
                    border-radius: 16px;
                    background-color: var(--accent);
                }
            }


            & #form_socials {
                width: 50%;
                list-style: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                gap: 8px;

                & li {
                    font-size: var(--fsize_medium);
                }
            }
        }

    }
}


/* 
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
    CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES - CLASSES
*/

.flex_row {
    display: flex;
    flex-direction: row;
}

/* 
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
    MEDIA QUERIES - MEDIA QUERIES - MEDIA QUERIES
*/

@media only screen and (min-width: 540px) {}

@media only screen and (max-width: 370px) {}

@media only screen and (min-width: 810px) {
    #contact {
        & #contact_cta {
            & span {
                font-family: var(--font3);
                font-size: var(--fsize_chungus);
            }
        }
    }


}

@media only screen and (min-height: 810px) and (min-width: 540px) {}